.contenedor-externo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }
  
  .contenedor-interno {
    padding: 20px;
    border: 1px solid rgba(245, 245, 245, 1);
    border-radius: 16px;
    text-align: center; 
    max-width: 490px;
  }
  
  .imagen-ko {
    width: 80px; 
    height: 80px; 
    margin-bottom: 10px; 
  }
  
  .mensaje {
    font-size: 20px;
    font-weight: bold;
  }
  
  .nuevo-mensaje {
    font-size: 16px; 
    color: rgba(100, 113, 132, 1);
    margin-top: 8px; 
    margin-bottom: 10px;
  }
