.contenedor-externo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 426px;
}

.contenedor-interno {
  padding: 20px;
  border: 1px solid rgba(245, 245, 245, 1);
  border-radius: 16px;
  text-align: center;
  height: 300px;
  width: 426px;
}

.imagen-ok {
  width: 80px; /* Ajusta el ancho de la imagen según tu preferencia */
  height: 80px; /* Ajusta la altura de la imagen según tu preferencia */
  margin-bottom: 10px; /* Agrega un espacio entre la imagen y el texto */
}

.mensaje {
  font-size: 20px;
  font-weight: bold;
}

.nuevo-mensaje {
  font-size: 16px; /* Ajusta el tamaño del nuevo mensaje según tu preferencia */
  color: rgba(100, 113, 132, 1); /* Color del nuevo mensaje */
  margin-top: 8px; /* Agrega un espacio entre los dos mensajes */
  margin-bottom: 10px;
}
