.payment-container {
  width: 40vw;
  height: 23em;
  padding: 1.25em;
  border: 0.1em solid rgba(128, 128, 128, 0.1);
  border-radius: 1em;
}

.total-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.label-input-container {
  flex-direction: column;
  margin-bottom: 1em;
  position: relative; 
}

.titulo {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.625em;
  justify-content: center;
  text-align: center;
}

.customInputStyle {
  width: 100%;
  color: black;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0.3125em;
  font-size: 1em;
  background-color: #fff;
}

input {
  width: 100%;
  background-color: white;
  color: black;
}

select {
  width: 100%;
  padding: 0.625em;
  margin-bottom: 0.9375em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0.3125em;
  font-size: 1em;
  background-color: #fff;
}

.linkButtonDesign {
  width: 100%;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  padding: 0.625em 0.9375em;
  border: none;
  border-radius: 0.3125em;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
}

.linkButtonDesign:disabled {
  background-color: cyan;
  cursor: not-allowed;
}

.linkButtonDesign:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
}

.dropdown-input-opened {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
